@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
  --primary-color: #303030;
  --secondary-color: #282828;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.logo {
  text-transform: uppercase;
  background-image: repeating-linear-gradient(
    -225deg,
    #e66465 10%,
    #4d4c4c 29%,
    #9198e5 67%,
    #9198e5 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  justify-content: center;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1s linear infinite;
  display: inline-block;
  font-size: 52px;
  margin-left: 20px;
  margin-right: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.logo span {
  color: rgb(13, 228, 243);
  text-transform: capitalize;
}

.search {
  margin-top: 40px;
  margin-right: 20px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 20px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  float: right;
  color: white;
  padding: 13px;
  margin: 12px;
  width: 150px;
  height: 50px;
  background-color: var(--secondary-color);
  transition: width 10s;
}

.search::placeholder {
  color: #f6f6f8;
}

.search:focus {
  outline: none;
  background-color: var(--secondary-color);
}
.search:hover {
  width: 300px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie {
  width: 200px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
  object-fit: cover;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
  font-size: small;
  color:white;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  background-color: var(--primary-color);
  color: #eee;
  font-family: Helvetica;
  font-size: 10px;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: hidden;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0%);
}

.navbar input {
  border: 2px solid rgb(29, 28, 28);
  border-radius: 14px;
  padding: 13px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

li {
  float: left;
}

li button {
  display: inline-block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li button:hover {
  background-color: #111;
}

.button {
  background-color: var(--primary-color);
  justify-content: space-between;
  border-radius: 8px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  margin-top: 18px;
  margin-left: 50px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
